  $dark1: #111111;
  $dark2: #555555;
  $dark3: #777777;
  $dark4: #999999;
  $Light1: #FFFFFF;
  $Light2: #EEEEEE;
  $Light3: #CCCCCC;
  $Orange: #FF8139;
  $Pink: #FF3998;
  $Green: #39FFA0;
  $Red: #FF3939;
  $LightGreen: #EDFFF6;
  $LightOrange: #FFF0E8;
